@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";


body {
  font-family:
    "Poppins",
    sans-serif;
  background:
    #F8F5F2;
  color:
    #2D2D2D;
}